<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<body>
    <div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token%}
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group" align='center'>
                                {{form.username.label}}
                                {{form.username}}
                            </div>
                            <div class="form-group" align='center'>
                                {{form.password.label}}
                                {{form.password}}
                            </div>
                            <div class="form-group" align='center'>
                                
                                <input type="submit" name="LogIn" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-center" >
                                Don't have an account? <a href="{% url 'register' %}" class="text-danger">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>